.container{
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

.menu-options ul li{
    list-style: none;
    padding: .5rem;
}

.menu-options ul li a{
    color: #fffaff;
    text-decoration: none;
}

.menu-options ul li a:hover{
    color: #0084ff;
    border-bottom: .125rem solid #0084ff;
}

.mode-dark{
    background-color: #2e2e2e;
    color: #fff
}