.container{
    background-color: #fffafa;
    color: #464646;
    text-decoration: none;
}

.menu{
    background-color: #2e2e2e;
}

.menu .menu-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0;
    border-bottom: .225rem solid #fffafa;
}

.menu .menu-options ul{
    display: flex;
}

.menu .menu-options ul li{
    justify-content: space-around;
    padding: .5rem;
}

.menu .menu-options ul .inclui-icon:hover{
    border: none;
    color: #eeff00;
}

.menu .menu-logo img{
    width: 100px;
}

.advertising{
    border-bottom: .225rem solid #808080;
}

.advertising h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;
}

.advertising img{
    width: 100%;
    height: auto;
    padding: 0;
}

.search-label{
    font-size: 1.675rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  
.search-input {
    align-items: center;
    text-transform: uppercase;
    width: 60vw;
    height: 5vh;
    padding: 10px;
    border: .125rem solid #808080;
    border-radius: 1rem;
    outline: none;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.search-btn {
    width: 25vw;
    height: 9vh;
    padding: 10px;
    border: .125rem solid #808080;
    border-radius: 1rem;
    margin-left: 2%;
    outline: none;
    font-size: 1rem;
}

.about-us h3{
    font-size: 1.675rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom: 0;
}

.about-us p{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}

.footer{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
}

.footer p a{
    color: #fffafa;
    text-decoration: none;    
}


.footer a:hover{
    color: #eeff00;    
}

@media only screen and (min-width:768px) {

    .menu .menu-options{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .menu .menu-logo img{
        width: 100px;
    }

    .menu .menu-options ul li{
        justify-content: space-around;
        padding: 1rem;
    }

    .advertising h1{
        font-size: 2.5rem;
        font-weight: 600;
    }
    
    .search-input {
        width: 80%;
        height: 8vh;
    }
    
    .search-btn {
        width: 10%;
        height: 12vh;
    }
    
}